/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





// authentication for login, signup
.authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    .title {
        text-align: center;
    }
    .mat-card {
        min-width: 350px;
        .p-full-width {
            width: 100%;
        }
    }
}


// rotuer link active
.active {
    border-bottom: 2px solid #000;
}